img.logo{
    width: 15%;
}
form{
    text-align: center;
    margin: 0 auto;
}
label, input{
    display: block;
    margin: 3px auto;
}
input[type="submit"]{
    display: block;
    margin: 10px auto;
    width: 500px;
}
#calculated-interest-display{
    margin: 20px auto;
    border: 2px rgb(185, 185, 245);
    border-radius: 5px;
}